[submodule "ha-atess"]
    path = ha-atess
    url = https://github.com/stephan-carstens/ha-atess.git
[submodule "modbus-mqtt"]
    path = modbus_mqtt
    url = https://github.com/stephan-carstens/modbus-mqtt.git
[submodule "ha-sungrow"]
    path = ha-sungrow
    url = https://github.com/heinrich321/voyanti-sungrow.git

[submodule "ha-paneltrack"]
	path = ha-paneltrack
	url = https://github.com/stephan-carstens/ha-paneltrack
